<!doctype html>
<html lang="en" ng-app="siebuApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>Smerketplace</title>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/app-grid.css">
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body class="body index clearfix" ng-controller="SiebuCtrl">

  <img class="bg-img" src="img/smerketplace-479x69.jpg" data-rimage data-src="img/smerketplace-1200x750.jpg" data-srcmax480="img/smerketplace-479x69.jpg" data-srcmax320="img/smerketplace-479x69.jpg">

  <div class="element element-1 clearfix js-navbar">
    <p class="text text-1">Welcome Siebu,</p>
    <p class="text text-2">My Smerkets</p>
    <p class="text text-3 js-cart">My Cart</p>
  </div>


  <div class="element _container element-2 clearfix">
    <p class="text text-4">New for You</p>

    <ul class="items">
      <li ng-repeat="item in items | filter:newItem">
        <div class="photo">
          <img class="image" ng-src="{{item.imageUrl}}">
          <p>{{item.itemName}}</p>
        </div>
      </li>
    </ul>

  </div>

  <div class="element _container element-3 clearfix">
    <p class="text text-4">Recommended</p>

    <ul class="items">
      <li ng-repeat="item in items | filter:recommended">
        <div class="photo">
          <img class="image" ng-src="{{item.imageUrl}}">
          <p>{{item.itemName}}</p>
        </div>
      </li>
    </ul>

  </div>

  <script src="lib/jquery-min.js"></script>
  <script src="lib/rimages.js"></script>

  <script src="lib/jquery-min.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-route.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
</body>
</html>
